/* Navigation */
/*#navbar{
    flex-direction: column;
}*/


/*Home section */

/*#home{
  height: 370px;
  

}*/

/*#home::before{
    height: 480px;
    
  
  }*/

  /*#homep{
    font-size: 13px;
  }*/


/* Services sectoin */

/*#services{
    flex-direction: column;


}*/

/*#services.box{



}*/



/* Client sectiom */




/* Contact us section */



/* Footer */




/*Utility classes*/
/*.h-primary{
    font-size: 26px;
}/*

